@media screen and (max-width: 580px) {
  body {
     background-color: #F0F0E9;
  
  }

  #Header{
    height: 80px;
  }

  .logo{
    margin-left: 13px;
    width: 50px;
  }

  .spacer{
    display: block;
  }

  .dropdown , .list1 , .batch , .btn-hero{ 
    display: none;
  }

   .mobileLogo{
    display: flex;
    height: 60px;
    padding: 10px;
    margin-top: calc(20px - 70px);
   }

   .mobile-links{
    margin: 10px;
    position: relative;
    z-index: 10;

   }

     .box:hover {
      background-color: lightgray;
     }

   .box a{
     display: inline-block;
     padding: 12px 0px 12px 16px;
     text-decoration: none;
     color: black;

   }

   .fa-angle-down{
    position: relative;
    top: 0px;
    font-size: 10px;
   }

   .tre2{
    margin: 0px 5px 10px calc(10px - 15px);
   }

   .fa-regular{
    left: 20px;
    top: 175px;
   }

   .setr4{
    top: 198px;
   }

    .setr5{
      top: 225px;
    }

    .setr6{
      top: 255px;
    }

    .internships{
      margin-top:calc(20px - 30px);
    }

    .batch-mobile{
      margin: 10px 0px 0px 0px;
      padding: 12px 0px 12px 16px;
      text-decoration: none;
      color: #E74D04;
      text-align: center;
      font-weight: bold;
      background-color: #f7f7f7;
    }

    .batch-mobile:hover{
      background-color: lightgray;
    }

    #hero-section{
      width: 93%;
      flex-direction: column;
      align-items: center;
      padding: 85px;
      height: auto;
      position: relative;
      z-index: -1;
    }


    .hero-section-img{
      display: none;
    }

    .funded-st{
      display: none;
    }

    .hero-section-text{
      margin-left: 20px;
    }

    .heading-1{
      font-size: 35px;
    }

    .btn-hero1{
      display: block;
    }

    .para1{
      font-size: 23px;
    }

    .tag-section{
      margin: 0px;
    }


}