@media screen and (max-width: 480px) {
  body {
    background-color: lightgreen;
  }

  #Header{
    height: 80px;
  }

  .logo{
    margin-left: 13px;
    width: 50px;
  }

  .spacer{
    display: block;
  }

  .dropdown , .list1 , .batch , #btn{ 
    display: none;
  }

   .mobileLogo{
    display: flex;
    height: 60px;
    padding: 10px;
    margin-top: calc(20px - 70px);
   }

   .mobile-links{
    margin: 10px;

   }

     .box:hover {
      background-color: lightgray;
     }

   .box a{
     display: inline-block;
     padding: 12px 0px 12px 16px;
     text-decoration: none;
     color: black;

   }

   .fa-angle-down{
    position: relative;
    top: 0px;
    font-size: 10px;
   }


}