/* --------------- default css --------------- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'myFont';
}

body{
    background-color: #F0F0E9;
    color: black;
}

/* --------------- Font Import --------------- */

@font-face {
    font-family: myFont;
    src: url("../Font/AvenirLTStd-Light.otf");
}


/* -------------------- Header ----------------- */

#Header{
    width: 100vw;
    height: 16.50vh;
    display: flex;
    align-items: center;
    font-size: 15.3px;
}

/* -------------- Logo -------------- */

.logo{
    width: 70px;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 120px;
    
}

/* ---------------- Navber---------------------- */

#NavBar ul{
    display: flex;
    list-style: none;
    align-items: center;
}

#NavBar ul li {
  padding: 11px;
}

#NavBar ul li a{
    text-decoration: none;
    color: black;
    border-radius: 20px;
}

#NavBar ul li a:hover{
    color: #39A2DD;
}

.batch{
    margin-left: 140px;
}

#btn{
    background-color: #FB651E;
    color: white;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: bolder;
    border-radius: 10px;
    border: none; 
}

#btn:hover{
   box-shadow:rgba(0, 0, 0, 0.1) 0px 0px 10px 18px inset;
}

#hero-section{
    /* width: 100vw; */
    margin: 0px 15px ;
    height: 28.6em;
    background-color: #FFFFFF;
    display: flex;
    position: relative;
    justify-content: space-between;
}





/* -------------- dropdowns -------------- */

.dropdown{
    position: relative;
}

/* -------------- dropdown content -------------- */

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    min-width: 195px;
    max-width: 170px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: 8px;
    border-radius: 5px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* -------------- dropdown links -------------- */

.dropdown-content a{
    color: black;
    padding: 12px 16px 12px 16px;
    text-decoration: none;
    display: block;
    margin: 5px;
} 

.dropdown-content a:hover{
    background-color: #E5E7EB;
}


.tre2{
    margin: 0px 5px 0px calc(10px - 25px);
}

.tre2 a{
    margin: calc(10px - 20px) 0px 0px 20px;
    padding-left: 30px;
}
.fa-circle{
    font-size:4px;
    top: 62px;
    position: absolute;
    left: 15px;
    padding: 0px 0px 0px 10px ;
}

.setr4{
    position: absolute;
    top: 93px;
    font-size: 4px;
    left: 15px;
}



.setr5{
    position: absolute;
    top: 125px;
    font-size: 4px;
    left: 15px;
}

.setr6{
    position: absolute;
    top: 157px;
    font-size: 4px;
    left: 15px;
}

/* ------------------- Menu ------------------- */

.spacer{
    display: none;
    font-size: 25px;
    margin-left: 275px;
    cursor: pointer;
    padding: 3px;
    background-color: #FFFFFF;
}

.spacer:hover{
    background-color: transparent;
}

.fa-bars{
    color: rgb(156, 163, 175);
}

/* -------------- Mobile view -------------- */

.Mobile-open{
    display: none;
    width: 365px;
    height: auto;
    background-color: white;
    position:  absolute;
    top: 10px;
    left: 12px;
   
}

.def{
     font-size: 20px;
     margin-left: 305px;
     margin-top: 10px;
    width: 50px;
    height: 45px;
    margin-right: 40px;
    cursor: pointer;
    padding: 8px;
    
}

.def:hover{
    background-color: #F0F0E9;
   
}


.dropdown-content-mobile a{
    display: flex;
    text-decoration: none;
    color: black;
    padding: 10px 10px 10px 25px;
}

.dropdown-content-mobile a:hover{
    background-color: #F0F0E9;
}


.dropdown-content-mobile{
    display: none;
}