@media screen and (max-width: 580px) {
  body {
    background-color: #f0f0e9;
  }

  #Header {
    height: 80px;
  }

  .logo {
    margin-left: 13px;
    width: 50px;
  }

  .spacer {
    display: block;
    margin-left: 265px;
  }

  .Mobile-open {
    width: 355px;
  }

  .def {
    margin-left: 282px;
  }

  .dropdown,
  .list1,
  .batch,
  .btn-hero {
    display: none;
  }

  .mobileLogo {
    display: flex;
    height: 60px;
    padding: 10px;
    margin-top: calc(20px - 70px);
  }

  .mobile-links {
    margin: 10px;
    position: relative;
    z-index: 10;
  }

  .box:hover {
    background-color: lightgray;
  }

  .box a {
    display: inline-block;
    padding: 12px 0px 12px 16px;
    text-decoration: none;
    color: black;
  }

  .fa-angle-down {
    position: relative;
    top: 0px;
    font-size: 10px;
  }

  .tre2 {
    margin: 0px 5px 10px calc(10px - 15px);
  }

  .fa-regular {
    left: 20px;
    top: 175px;
  }

  .setr4 {
    top: 198px;
  }

  .setr5 {
    top: 225px;
  }

  .setr6 {
    top: 255px;
  }

  .internships {
    margin-top: calc(20px - 30px);
  }

  .batch-mobile {
    margin: 10px 0px 0px 0px;
    padding: 12px 0px 12px 16px;
    text-decoration: none;
    color: #e74d04;
    text-align: center;
    font-weight: bold;
    background-color: #f7f7f7;
  }

  .batch-mobile:hover {
    background-color: lightgray;
  }

  #hero-section {
    width: 93%;
    flex-direction: column;
    align-items: center;
    padding: 85px;
    height: auto;
    position: relative;
    z-index: -1;
  }

  .hero-section-img {
    display: none;
  }

  .funded-st {
    display: none;
  }

  .hero-section-text {
    margin-left: 20px;
  }

  .heading-1 {
    font-size: 35px;
  }

  .btn-hero1 {
    display: block;
  }

  .para1 {
    font-size: 23px;
  }

  .tag-section {
    margin: 0px;
  }

  /* ----------------------- help section -----------------------------------------*/

  .help-item1 {
    width: 100%;
    font-size: 15.5px;
  }

  .help-container {
    height: auto;
    padding: 80px 0px 0px 0px;
  }

  .help-item2 {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 50px 0px;
  }

  .help-number1 {
    width: 100%;
    height: auto;
  }

  /* ---------------------------- succes sectio ---------------------- */

  #vid {
    width: 350px;
    height: 220px;
  }

  /* ------------------------- card-section ------------------------- */

  .card-container h1 {
    width: 100%;
    padding: 10px;
  }

  .card-section-grid {
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
  }

  .box1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 95%;
    min-height: 200px;
    padding: 20px;
  }

  .tmg {
    margin-top: 10px;
    width: 100%;
  }
  /* --------------------------------- founder interection ---------------------------- */

  .headings {
    margin: auto;
    width: 70%;
  }

  #item-box {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }

  .item {
    border: none;
    padding: 0px;
    margin: 0px;
    margin-left: 40px;
    width: fit-content;
  }

  .item ul li {
    font-size: 15px;
    padding: 5px;
    width: 110%;
  }

  .imges{
    display: none;
  }

  /* ------------------------community ------------- */

  .main-heding{
    padding: 0px;
    text-align: center;
    font-size: 18px;
  }
  .talk{
    padding: 10px;
    margin-left: calc(10px - 100px);
  }
  
  .it{
    width: 110%;
    padding: 10px;
  }
}
