@media screen and (max-width: 480px) {
  body {
    background-color: lightgreen;
  }

  #Header{
    height: 80px;
  }

  .logo{
    margin-left: 13px;
    width: 50px;
  }

  .spacer{
    display: block;
  }

  .dropdown , .list1 , .batch , #btn{ 
    display: none;
  }

   .mobileLogo{
    display: flex;
    height: 60px;
    padding: 10px;
    margin-top: calc(20px - 70px);
   }

   .mobile-links{
    margin: 10px;

   }

     .box:hover {
      background-color: lightgray;
     }

   .box a{
     display: inline-block;
     padding: 12px 0px 12px 16px;
     text-decoration: none;
     color: black;

   }

   .fa-angle-down{
    position: relative;
    top: 0px;
    font-size: 10px;
   }

   .tre2{
    margin: 0px 5px 10px calc(10px - 15px);
   }

   .fa-regular{
    left: 30px;
    top: 247px;
   }

   .setr4{
    top: 275px;
   }

    .setr5{
      top: 306px;
    }

    .setr6{
      top: 330px;
    }

    .internships{
      margin-top:calc(20px - 30px);
    }

    .batch-mobile{
      margin: 10px 0px 0px 0px;
      padding: 12px 0px 12px 16px;
      text-decoration: none;
      color: #E74D04;
      text-align: center;
      font-weight: bold;
      background-color: #f7f7f7;
    }

    .batch-mobile:hover{
      background-color: lightgray;
    }


}