@media screen and (max-width: 480px) {
  body {
    background-color: lightgreen;
  }

  #Header{
    height: 80px;
  }

  .logo{
    margin-left: 13px;
    width: 50px;
  }

  .spacer{
    display: block;
  }

  .dropdown , .list1 , .batch , #btn{ 
    display: none;
  }

   .mobileLogo{
    display: flex;
    /* border: 1px solid black; */
    height: 60px;
    padding: 10px;
    margin-top: calc(20px - 70px);
   }

}